<%- include("./partials/header.ejs")%>

    <div class="ui stackable grid">
        <div class="row">
            <div class="eight wide column">
                <div class="ui segment">
                    <div class="main-header">
                        <h1>Login!</h1>
                    </div>    
                    <hr class="header-hr"> 
                </div>
            </div>      
        </div>
        <div class="row">
            <div class="eight wide column">
                <div class="ui segment">
                    <form class="ui form inverted" action="/login" method="POST">
                        <div class="field">
                            <label>Username</label>
                            <input class="input" type="text" name="username" placeholder="username">
                        </div>  
                        <div class="field">
                            <label>Password</label>  
                            <input class="input" type="password" name="password" placeholder="password"></input>
                        </div>
                        <div class="btn-div">
                            <button class="ui button" type="submit">Login</button>
                            <a href="/register"><button type="button" class="ui button">register?</button></a>    
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>



<%- include("./partials/footer.ejs")%>